$navBtn: #003cb2;
$blue: #003cb2;
$textBlue: #0045ff;
$cardTitle: #202F44;
$cardTitle2: #00265c;
$cardWhite: #e9edfb;
$teamTitle: #4d4d4d;
$textColorWhite: #fff;
$cardBgWhite: #fff;
$cardShadow: rgba(156, 172, 242, 0.141);
$black: #000;

$footerLi: #202f44cc;
